{% extends 'base.html' %}

{% block title %}{{ good.name }}{% endblock %}

{% block navbar %}
    <div class="btn_navbar">
        <span class="navbar_name">{{ user }}</span>
        <button type="button" class="btn btn-primary"><a href="{% url 'logout' %}">Выйти</a></button>
    </div>
{% endblock %}

{% block body %}
    <p class="good_id">{{ good.id }}</p>
    <div class="good,">
        <img class="logo-lg"  src="{{ MEDIA_URL }}{{ good.logo.url }}">
        <p class="title">{{ good.name }}</p>
        <p><span class="fields">Цена:</span> {{ good.price }}</p>
        <p><span class="fields">Описание:</span> {{ good.description }}</p>
    </div>
    <div class="comment">
        <h4 class="comment-title">Оставить отзыв</h4>
        <form class="form_comment" method="POST" action="{% url 'write_comment' good.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-ajax-form">Оставить отзыв</button>
        </form>
    </div>
    <div class="users">
        <h5 class="user-comment">Список пользователей, оставивших отзыв:</h5>
        {% for user in users %}
            <p class="list_users">{{ user.username }}</p>
        {% endfor %}
    </div>
{% endblock %}